{% extends 'core/base.html' %}    
{% load static %}    
    

{% block content %}
<link rel="stylesheet" href="{% static '/scss/userprofile/login.css' %}" type="text/css">



<div class="login page-for-form">
    <!-- USER LOGIN -->
    <form id="loginForm" method="post">
        <div class="text">
            <h1 class="heading">Log into your account</h1>
            <p class="paragraph">In order to acess our survey services, you must have an active account. If you run into any problems, please contact us at <a href="mailto:info@nordicusv.com">info@nordicusv.com</a></p>
        </div>
        {% csrf_token %}
        <!-- USER LOGIN FORM INPUTS -->
        <div class="inputs">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Brukernavn eller passord er feil</strong>
                </div>
            {% endif %}
            <!-- NAME -->
            <input type="text" placeholder="Your username" id="username" name="username" required oninvalid="this.setCustomValidity('Please fill this in')" oninput="this.setCustomValidity('')">
            <br>
            <!-- PASSWORD -->
            <input type="password" placeholder="Your password" id="password" name="password" required oninvalid="this.setCustomValidity('How else will you login next time?')" oninput="this.setCustomValidity('')">
        </div> 
        <div class="form-actions">
            <button type='submit'>Login</button>
        </div>
        <br>
        <a href="/signup/" class="signup">Or make an account</a>
    </form>
</div>
<div class="black-overlay" id="blackOverlay"></div>

{% endblock %}
            


