html, body {
  overflow-y: hidden !important;
}

#homeLink {
  color: #F4C726 !important;
  border-bottom: 1px solid rgba(244, 199, 38, 0.7058823529);
}

.survey {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.survey .left {
  width: 67%;
  position: relative;
}
.survey .left #map {
  width: 100%;
  height: calc(100vh - 65px);
}
.survey .left .cords {
  position: absolute;
  left: 3px;
  bottom: 3px;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.527);
  opacity: 0;
  pointer-events: none;
}
.survey .right {
  width: 33%;
  height: calc(100vh - 60px);
  background: #425e68;
  padding-inline: 20px;
  padding-top: 19px;
  overflow-y: scroll;
  overflow-x: hidden !important;
}
.survey .right::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: rgba(250, 255, 179, 0.1);
  padding-block: 10px;
}
.survey .right::-webkit-scrollbar {
  height: 60px;
  background-color: transparent;
  padding-block: 10px;
}
.survey .right::-webkit-scrollbar-thumb {
  padding-block: 10px;
  border-radius: 4px;
  background-color: #CEAF30;
}
.survey .right .info-text {
  margin-top: 30px;
  margin-bottom: 25px;
  text-align: center;
}
.survey .right .info-text .heading {
  color: #FAF9F6;
  font-size: 24px;
}
.survey .right .info-text .paragraph {
  color: #FAF9F6;
}
.survey .right .info-text .paragraph a {
  color: #FAF9F6;
  opacity: 0.8;
  text-decoration: underline;
}
.survey .right .step {
  padding: 15px 5px;
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  background: rgba(255, 255, 255, 0.1);
  margin: 33px auto;
}
.survey .right .step:hover {
  transform: scale(1.02);
}
.survey .right .step h1 {
  text-align: center;
  color: #FAF9F6;
  font-size: 16px;
  margin: auto;
}
.survey .right #makeRoute {
  width: 33%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background: #496671;
  padding: 40px 30px;
  padding-bottom: 90px;
  text-align: center;
  opacity: 0;
  top: 100%;
  pointer-events: none;
  transition: 0.5s;
  overflow-y: scroll;
}
.survey .right #makeRoute::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: rgba(250, 255, 179, 0.1);
  padding-block: 10px;
}
.survey .right #makeRoute::-webkit-scrollbar {
  height: 60px;
  background-color: transparent;
  padding-block: 10px;
}
.survey .right #makeRoute::-webkit-scrollbar-thumb {
  padding-block: 10px;
  border-radius: 4px;
  background-color: #CEAF30;
}
.survey .right #makeRoute .close {
  color: white;
  font-size: 24px;
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 6px;
  margin: -6px;
}
.survey .right #makeRoute h1 {
  margin-top: 20px;
  font-size: 30px;
  color: white;
  margin-bottom: 11px;
}
.survey .right #makeRoute .paragraph {
  color: white;
  opacity: 0.9;
}
.survey .right #makeRoute textarea {
  outline: none;
  border: none;
  padding: 6px;
  width: 100%;
  height: 120px;
  max-height: 300px;
  border-radius: 4px;
  color: #183B56;
  cursor: default;
  pointer-events: none;
}
.survey .right #makeRoute textarea::-moz-placeholder {
  opacity: 0.7;
}
.survey .right #makeRoute textarea:-ms-input-placeholder {
  opacity: 0.7;
}
.survey .right #makeRoute textarea::placeholder {
  opacity: 0.7;
}
.survey .right #makeRoute input {
  outline: none;
  border: none;
  padding: 6px;
  width: 100%;
  height: 50px;
  max-height: 300px;
  border-radius: 4px;
  color: #183B56;
  margin-bottom: 25px;
}
.survey .right #makeRoute input::-moz-placeholder {
  opacity: 0.7;
}
.survey .right #makeRoute input:-ms-input-placeholder {
  opacity: 0.7;
}
.survey .right #makeRoute input::placeholder {
  opacity: 0.7;
}
.survey .right #makeRoute input.hidden {
  display: none;
}
.survey .right #makeRoute input.visible {
  display: block;
}
.survey .right #makeRoute button {
  margin-top: 25px;
  width: 100%;
  height: 60px;
  background: #F4C726;
  color: #354D57;
  border-radius: 4px;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
  border: none;
}
.survey .right #makeRoute button:hover {
  transform: scale(1.01);
  background: #e2b81d;
}
.survey .right #makeRoute button.hidden {
  display: none;
}
.survey .right #makeRoute button.visible {
  display: unset;
}
.survey .right #makeRoute.active {
  pointer-events: visible;
  opacity: 1;
  top: 65px;
}
.survey .right #addSensors {
  width: 33%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background: #496671;
  padding: 40px 30px;
  padding-bottom: 90px;
  text-align: center;
  opacity: 0;
  top: 100%;
  pointer-events: none;
  transition: 0.5s;
  overflow-y: scroll;
}
.survey .right #addSensors::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: rgba(250, 255, 179, 0.1);
  padding-block: 10px;
}
.survey .right #addSensors::-webkit-scrollbar {
  height: 60px;
  background-color: transparent;
  padding-block: 10px;
}
.survey .right #addSensors::-webkit-scrollbar-thumb {
  padding-block: 10px;
  border-radius: 4px;
  background-color: #CEAF30;
}
.survey .right #addSensors .close {
  color: white;
  font-size: 24px;
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 6px;
  margin: -6px;
}
.survey .right #addSensors h1 {
  margin-top: 20px;
  font-size: 30px;
  color: white;
  margin-bottom: 11px;
}
.survey .right #addSensors .paragraph {
  color: white;
  opacity: 0.9;
}
.survey .right #addSensors button {
  margin-top: 25px;
  width: 100%;
  height: 60px;
  background: #F4C726;
  color: #354D57;
  border-radius: 4px;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
  border: none;
}
.survey .right #addSensors button:hover {
  transform: scale(1.01);
  background: #e2b81d;
}
.survey .right #addSensors .availble-sensors .headingp {
  color: white;
  font-size: 18px;
  opacity: 0.7;
  margin-bottom: 20px;
}
.survey .right #addSensors .availble-sensors .sensor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-block: 2px;
}
.survey .right #addSensors .availble-sensors .sensor .name, .survey .right #addSensors .availble-sensors .sensor .price {
  color: white;
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 0;
}
.survey .right #addSensors .configure-waypoint {
  text-align: left;
}
.survey .right #addSensors .configure-waypoint label {
  color: white;
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 11px;
}
.survey .right #addSensors .configure-waypoint select {
  width: 80%;
  height: 50px;
  border-radius: 4px;
  padding: 12px 8px;
  color: #183B56;
  background: white;
  border: none;
  outline: none;
  font-size: 15px;
  margin-left: 23px;
  cursor: pointer;
}
.survey .right #addSensors .configure-waypoint .waypoint.hidden {
  display: none;
}
.survey .right #addSensors .configure-waypoint .waypoint.active {
  display: block;
}
.survey .right #addSensors .configure-waypoint input {
  width: 80%;
  height: 50px;
  border-radius: 4px;
  padding: 12px 8px;
  color: #183B56;
  background: white;
  border: none;
  outline: none;
  font-size: 15px;
  margin-left: 23px;
}
.survey .right #addSensors .configure-waypoint input::-moz-placeholder {
  opacity: 0.7;
}
.survey .right #addSensors .configure-waypoint input:-ms-input-placeholder {
  opacity: 0.7;
}
.survey .right #addSensors .configure-waypoint input::placeholder {
  opacity: 0.7;
}
.survey .right #addSensors .configure-waypoint input#sensor_1_waypoins {
  cursor: pointer;
}
.survey .right #addSensors .configure-waypoint input:hover {
  filter: brightness(92%);
}
.survey .right #addSensors .configure-waypoint textarea {
  width: 80%;
  height: 105px;
  max-height: 150px;
  border-radius: 4px;
  padding: 8px;
  color: #183B56;
  background: white;
  border: none;
  outline: none;
  font-size: 15px;
  margin-left: 23px;
}
.survey .right #addSensors .configure-waypoint textarea::-moz-placeholder {
  opacity: 0.7;
}
.survey .right #addSensors .configure-waypoint textarea:-ms-input-placeholder {
  opacity: 0.7;
}
.survey .right #addSensors .configure-waypoint textarea::placeholder {
  opacity: 0.7;
}
.survey .right #addSensors .configure-waypoint #chooseSensor {
  width: 75%;
  background: white;
  margin-left: 23px;
  border-top: 1px solid rgba(50, 50, 50, 0.1);
  border-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  display: none;
}
.survey .right #addSensors .configure-waypoint #chooseSensor .sensor-drop {
  font-size: 15px;
  color: #183B56;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: white;
  padding: 15px 10px;
}
.survey .right #addSensors .configure-waypoint #chooseSensor .sensor-drop:hover {
  filter: brightness(94%);
}
.survey .right #addSensors .group button.hidden {
  display: none;
}
.survey .right #addSensors .group button.visible {
  display: unset;
}
.survey .right #addSensors.active {
  pointer-events: visible;
  opacity: 1;
  top: 65px;
}
.survey .right #setTime {
  width: 33%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background: #496671;
  padding: 40px 30px;
  padding-bottom: 90px;
  text-align: center;
  opacity: 0;
  top: 100%;
  pointer-events: none;
  transition: 0.5s;
  overflow-y: scroll;
}
.survey .right #setTime::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: rgba(250, 255, 179, 0.1);
  padding-block: 10px;
}
.survey .right #setTime::-webkit-scrollbar {
  height: 60px;
  background-color: transparent;
  padding-block: 10px;
}
.survey .right #setTime::-webkit-scrollbar-thumb {
  padding-block: 10px;
  border-radius: 4px;
  background-color: #CEAF30;
}
.survey .right #setTime .close {
  color: white;
  font-size: 24px;
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 6px;
  margin: -6px;
}
.survey .right #setTime h1 {
  margin-top: 20px;
  font-size: 30px;
  color: white;
  margin-bottom: 11px;
}
.survey .right #setTime .paragraph {
  color: white;
  opacity: 0.9;
}
.survey .right #setTime button {
  margin-top: 25px;
  width: 100%;
  height: 60px;
  background: #F4C726;
  color: #354D57;
  border-radius: 4px;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
  border: none;
}
.survey .right #setTime button:hover {
  transform: scale(1.01);
  background: #e2b81d;
}
.survey .right #setTime .choose-interval-or-onetime {
  display: flex;
  align-items: center;
  justify-content: center;
}
.survey .right #setTime .choose-interval-or-onetime a {
  margin-inline: 12px;
  padding: 11px 25px;
  border-radius: 25px;
  cursor: pointer;
  color: rgba(250, 249, 246, 0.8549019608);
}
.survey .right #setTime .choose-interval-or-onetime a.active {
  color: rgb(73, 102, 113);
  background: #F4C726;
}
.survey .right #setTime #interval_div {
  display: none;
}
.survey .right #setTime #interval_div input {
  width: 40%;
  border-radius: 25px;
  height: 50px;
  color: #183B56;
  border: none;
  outline: none;
  text-align: center;
  padding: 8px;
}
.survey .right #setTime #interval_div label {
  margin-right: 20px;
  color: white;
  font-size: 16px;
  opacity: 0.8;
}
.survey .right #setTime #interval_div select {
  width: 80%;
  height: 50px;
  border-radius: 4px;
  padding: 12px 8px;
  color: #183B56;
  background: white;
  border: none;
  outline: none;
  font-size: 15px;
  margin-left: 23px;
  cursor: pointer;
}
.survey .right #setTime #interval_div.active {
  display: block;
}
.survey .right #setTime #onetime_div {
  display: block;
}
.survey .right #setTime #onetime_div.hidden {
  display: none;
}
.survey .right #setTime #onetime_time {
  width: 70%;
  border-radius: 25px;
  height: 50px;
  color: #183B56;
  border: none;
  outline: none;
  text-align: center;
  padding: 8px;
}
.survey .right #setTime.active {
  pointer-events: visible;
  opacity: 1;
  top: 65px;
}
.survey .right #userInfo {
  width: 33%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background: #496671;
  padding: 40px 30px;
  padding-bottom: 90px;
  text-align: center;
  opacity: 0;
  top: 100%;
  pointer-events: none;
  transition: 0.5s;
  overflow-y: scroll;
}
.survey .right #userInfo .close {
  color: white;
  font-size: 24px;
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 6px;
  margin: -6px;
}
.survey .right #userInfo h1 {
  margin-top: 20px;
  font-size: 30px;
  color: white;
  margin-bottom: 11px;
}
.survey .right #userInfo button {
  margin-top: 25px;
  width: 100%;
  height: 60px;
  background: #F4C726;
  color: #354D57;
  border-radius: 4px;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
  border: none;
}
.survey .right #userInfo button:hover {
  transform: scale(1.01);
  background: #e2b81d;
}
.survey .right #userInfo input, .survey .right #userInfo textarea {
  color: #183B56;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}
.survey .right #userInfo input::-moz-placeholder, .survey .right #userInfo textarea::-moz-placeholder {
  opacity: 0.7;
}
.survey .right #userInfo input:-ms-input-placeholder, .survey .right #userInfo textarea:-ms-input-placeholder {
  opacity: 0.7;
}
.survey .right #userInfo input::placeholder, .survey .right #userInfo textarea::placeholder {
  opacity: 0.7;
}
.survey .right #userInfo input:hover, .survey .right #userInfo textarea:hover {
  background: #e0e0e0;
}
.survey .right #userInfo input:focus, .survey .right #userInfo input:active, .survey .right #userInfo textarea:focus, .survey .right #userInfo textarea:active {
  cursor: text;
  background: white;
}
.survey .right #userInfo input {
  height: 45px;
}
.survey .right #userInfo.active {
  pointer-events: visible;
  opacity: 1;
  top: 65px;
}
.survey .right #surveySummary {
  width: 33%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background: #496671;
  padding: 40px 30px;
  padding-bottom: 90px;
  text-align: center;
  opacity: 0;
  top: 100%;
  pointer-events: none;
  transition: 0.5s;
  overflow-y: scroll;
}
.survey .right #surveySummary .close {
  color: white;
  font-size: 24px;
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 6px;
  margin: -6px;
}
.survey .right #surveySummary h1 {
  margin-top: 20px;
  font-size: 30px;
  color: white;
  margin-bottom: 11px;
}
.survey .right #surveySummary .paragraph {
  color: white;
  opacity: 0.9;
}
.survey .right #surveySummary button {
  margin-top: 25px;
  width: 100%;
  height: 60px;
  background: #F4C726;
  color: #354D57;
  border-radius: 4px;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
  border: none;
}
.survey .right #surveySummary button:hover {
  transform: scale(1.01);
  background: #e2b81d;
}
.survey .right #surveySummary.active {
  pointer-events: visible;
  opacity: 1;
  top: 65px;
}/*# sourceMappingURL=base.css.map */