#desNav{
    width: 100%;
    padding: 10px 31px;
    height: 65px;
    background: #354D57;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        cursor: pointer;
        img{
            width: 130px;
            height: auto;
            transition: .4s;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
    .menu{
        cursor: default;
        a{
            color: #EDEDED;
            font-size: 17px;
            padding-inline: 6px;
            margin-inline: 6px;
            text-decoration: none;
            opacity: 0.8;
            cursor: pointer;
            padding-bottom: 2px;        
            transition: .2s;
            &:hover{
                border-bottom: 1px solid #f4c726b4;
            }
        }
    }
}