{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/home.js' %}" type="text/javascript"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />

<br>
<br>
<br>

<center>
  <div id='map' style='width: 800px; height: 700px;'></div>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYm9nZGFudHJvIiwiYSI6ImNsYmplbDk2MDB2N28zcG8wZ2szZmE3b2EifQ.pShLgmxwjWYAl4pz4FTCSw';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11'
    });
    </script>
</center>



{% endblock %}
<center>
    designen av denne siden skal selvsagt bli redesignet. Dette er bare en type demo, sånn at du får en idee.
    <br>
    <br>
    etter du har sendt inn bildet, kan du sjekke den i admin siden, under "Imags". Dette vil etterhvert bli endret til
    <br>
    "Orders". der kan du se all info du trenger
</center>
<hr>
<br>
<div class="form">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
         {{ form.as_p }}
        <button type="submit">Upload</button>
      </form>
      
      {% if img_obj %}
        <h3>Succesfully uploaded : {{img_obj.title}}</h3>
        <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
      {% endif %}
    <div class="right">
        her skal resten av informasjonen stå
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>