{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css' />
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>

<!-- Survey -->
<div class="survey">
  <!-- Left -->
  <div class="left">
    <div id='map'></div>
    <div class="cords" id="cords"></div>
  </div>
  <!-- Right -->
  <div class="right">
    <div class="info-text">
      <h1 class="heading">Here are your tools to order the survey</h1>
      <p class="paragraph">We recommend you watch <a href="">this video</a> that showcases how to use our services</p>
    </div>
    <!-- Step 1 -->
    <div class="step one">
      <h1>Make route</h1>
    </div>
    <!-- Step 2 -->
    <div class="step two">
      <h1>Add sensors</h1>
    </div>
    <!-- Step 3 -->
    <div class="step three">
      <h1>Set time/date</h1>
    </div>
    <!-- Step 4 -->
    <div class="step four">
      <h1>Information</h1>
    </div>
    <!-- Step 5 -->
    <div class="step five">
      <h1>Summary</h1>
    </div>
</div>


<script>


  // Add your Mapbox access token
  mapboxgl.accessToken = '{{mapbox_access_token}}';
    const map = new mapboxgl.Map({
      container: 'map', // Specify the container ID
      style: 'mapbox://styles/mapbox/outdoors-v12', // Specify which map style to use
      center: [5.359434, 60.389809], // Specify the starting position
      zoom: 9, // Specify the starting zoom
    });


    const draw = new MapboxDraw({


      // Instead of showing all the draw tools, show only the line string and delete tools.
      displayControlsDefault: false,
      controls: {
        line_string: true,
        trash: true
      },
      // Set the draw mode to draw LineStrings by default.
      defaultMode: 'draw_line_string',
      styles: [


      // Set the line style for the user-input coordinates.
      {
        id: 'gl-draw-line',
        type: 'line',
        filter: ['all', ['==', '$type', 'LineString'], ['!=', 'mode', 'static']],
        layout: {
          'line-cap': 'round',
          'line-join': 'round'
        },
        paint: {
          'line-color': '#438EE4',
          'line-dasharray': [0.2, 2],
          'line-width': 4,
          'line-opacity': 0.7
        }
      },


      // Style the vertex point halos.
      {
        id: 'gl-draw-polygon-and-line-vertex-halo-active',
        type: 'circle',
        filter: [
          'all',
          ['==', 'meta', 'vertex'],
          ['==', '$type', 'Point'],
          ['!=', 'mode', 'static']
        ],
        paint: {
          'circle-radius': 12,
          'circle-color': '#FFF'
        }
      },


      // Style the vertex points.
      {
        id: 'gl-draw-polygon-and-line-vertex-active',
        type: 'circle',
        filter: [
          'all',
          ['==', 'meta', 'vertex'],
          ['==', '$type', 'Point'],
          ['!=', 'mode', 'static']
        ],
        paint: {
          'circle-radius': 8,
          'circle-color': '#438EE4'
        }
      }
    ]
  });


  // Add the draw tool to the map.
  map.addControl(draw);


  // Use the coordinates you drew to make the Map Matching API request
  function updateRoute() {
    // Set the profile
    const profile = 'driving';
    // Get the coordinates that were drawn on the map
    const data = draw.getAll();
    const lastFeature = data.features.length - 1;
    const coords = data.features[lastFeature].geometry.coordinates;
    // Format the coordinates
    const newCoords = coords.join(';');
    // Set the radius for each coordinate pair to 25 meters
    const radius = coords.map(() => 25);
    getMatch(newCoords, radius, profile);
  }


  map.on('draw.create', updateRoute);
  map.on('draw.update', updateRoute);



  // Draw the Map Matching route as a new layer on the map
  function addRoute(coords) {
    // If a route is already loaded, remove it
    if (map.getSource('route')) {
      map.removeLayer('route');
      map.removeSource('route');
    } else {
      // Add a new layer to the map
      map.addLayer({
        id: 'route',
        type: 'line',
        source: {
          type: 'geojson',
          data: {
            type: 'Feature',
            properties: {},
            geometry: coords
          }
        },
        layout: {
          'line-join': 'round',
          'line-cap': 'round'
        },
        paint: {
          'line-color': '#03AA46',
          'line-width': 8,
          'line-opacity': 0.8
        }
      });
    }
  }


  // Make a Map Matching request
  async function getMatch(coordinates, radius, profile) {
    // Separate the radiuses with semicolons
    const radiuses = radius.join(';');
    // Create the query
    const query = await fetch(
      `https://api.mapbox.com/matching/v5/mapbox/${profile}/${coordinates}?geometries=geojson&radiuses=${radiuses}&steps=true&access_token=${mapboxgl.accessToken}`,
      { method: 'GET' }
    );
    const response = await query.json();
    // Get the coordinates from the response
    const coords = coordinates;
    console.log(coords);
    // Draw the route on the map
    addRoute(coords);


    const directions = document.getElementById('cords');
    directions.innerHTML = '<li><span>'+coords+'</span></li><br><br>';
  }


  // If the user clicks the delete draw button, remove the layer if it exists
  function removeRoute() {
    if (!map.getSource('route')) return;
    map.removeLayer('route');
    map.removeSource('route');
  }


  map.on('draw.delete', removeRoute);
</script>

{% endblock %}
 
<center>
    designen av denne siden skal selvsagt bli redesignet. Dette er bare en type demo, sånn at du får en idee.
    <br>
    <br>
    etter du har sendt inn bildet, kan du sjekke den i admin siden, under "Imags". Dette vil etterhvert bli endret til
    <br>
    "Orders". der kan du se all info du trenger
</center>
<hr>
<br>
<div class="form">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
         {{ form.as_p }}
        <button type="submit">Upload</button>
      </form>
      
      {% if img_obj %}
        <h3>Succesfully uploaded : {{img_obj.title}}</h3>
        <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
      {% endif %}
    <div class="right">
        her skal resten av informasjonen stå
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>