{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css' />
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>

<!-- Survey -->
<div class="survey">
  <!-- Left -->
  <div class="left">
    <div id='map'></div>
  </div>
  <!-- Right -->
  <div class="right">
    <div class="info-text">
      <h1 class="heading">Here are your tools to order the survey</h1>
      <p class="paragraph">We recommend to watch <a href="">this video</a> before you start</p>
    </div>

    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
      {{form.errors}}
    </div>
    {% endif %}
      <!-- Step 1 -->
      <div class="step one" id="stepOne" onclick="stepOneOpen()">
        <h1>Create route</h1>
      </div>
      <div class="make-route" id="makeRoute">
        <div onclick="stepOneClose()" class="close"><i class="fa-solid fa-x"></i></div>
        <h1>Create route</h1>
        <p class="paragraph">Draw a route on the map to your left. Draw only one route per survey. Please check that the coordinates are correct before proceeding</p>
        <br>
        <textarea readonly name="route_cords" id="routeCords" cols="30" rows="10" placeholder="The cords of the route that you draw, will show here"></textarea>
        <br>
        <br>
        <p class="paragraph">You can also use the input below to enter your own coordinates<br>One text box is one waypoint<br><br>Write the coordinates with a comma ( , ) beetwen LAT and LONG</p>
        <br>
        <div class="custom-route-waypoints">
          <input name="custom_cords_1" id="custom_cords_1" placeholder="Waypoint 1">
          <input name="custom_cords_2" id="custom_cords_2" placeholder="Waypoint 2">
          <input name="custom_cords_3" id="custom_cords_3" placeholder="Waypoint 3">
          <input name="custom_cords_4" id="custom_cords_4" placeholder="Waypoint 4">
          <input name="custom_cords_5" id="custom_cords_5" placeholder="Waypoint 5">
          <input name="custom_cords_6" id="custom_cords_6" placeholder="Waypoint 6">
          <input name="custom_cords_7" id="custom_cords_7" placeholder="Waypoint 7">
          <input name="custom_cords_8" id="custom_cords_8" placeholder="Waypoint 8">
          <input name="custom_cords_9" id="custom_cords_9" placeholder="Waypoint 9">
          <input name="custom_cords_10" id="custom_cords_10" placeholder="Waypoint 10">
          <input class="hidden" name="custom_cords_11" id="custom_cords_11" placeholder="Waypoint 11">
          <input class="hidden" name="custom_cords_12" id="custom_cords_12" placeholder="Waypoint 12">
          <input class="hidden" name="custom_cords_13" id="custom_cords_13" placeholder="Waypoint 13">
          <input class="hidden" name="custom_cords_14" id="custom_cords_14" placeholder="Waypoint 14">
          <input class="hidden" name="custom_cords_15" id="custom_cords_15" placeholder="Waypoint 15">
          <input class="hidden" name="custom_cords_16" id="custom_cords_16" placeholder="Waypoint 16">
          <input class="hidden" name="custom_cords_17" id="custom_cords_17" placeholder="Waypoint 17">
          <input class="hidden" name="custom_cords_18" id="custom_cords_18" placeholder="Waypoint 18">
          <input class="hidden" name="custom_cords_19" id="custom_cords_19" placeholder="Waypoint 19">
          <input class="hidden" name="custom_cords_20" id="custom_cords_20" placeholder="Waypoint 20">
          <input class="hidden" name="custom_cords_21" id="custom_cords_21" placeholder="Waypoint 21">
          <input class="hidden" name="custom_cords_22" id="custom_cords_22" placeholder="Waypoint 22">
          <input class="hidden" name="custom_cords_23" id="custom_cords_23" placeholder="Waypoint 23">
          <input class="hidden" name="custom_cords_24" id="custom_cords_24" placeholder="Waypoint 24">
          <input class="hidden" name="custom_cords_25" id="custom_cords_25" placeholder="Waypoint 25">
          <input class="hidden" name="custom_cords_26" id="custom_cords_26" placeholder="Waypoint 26">
          <input class="hidden" name="custom_cords_27" id="custom_cords_27" placeholder="Waypoint 27">
          <input class="hidden" name="custom_cords_28" id="custom_cords_28" placeholder="Waypoint 28">
          <input class="hidden" name="custom_cords_29" id="custom_cords_29" placeholder="Waypoint 29">
          <input class="hidden" name="custom_cords_30" id="custom_cords_30" placeholder="Waypoint 30">
          <input class="hidden" name="custom_cords_31" id="custom_cords_31" placeholder="Waypoint 31">
          <input class="hidden" name="custom_cords_32" id="custom_cords_32" placeholder="Waypoint 32">
          <input class="hidden" name="custom_cords_33" id="custom_cords_33" placeholder="Waypoint 33">
          <input class="hidden" name="custom_cords_34" id="custom_cords_34" placeholder="Waypoint 34">
          <input class="hidden" name="custom_cords_35" id="custom_cords_35" placeholder="Waypoint 35">
          <input class="hidden" name="custom_cords_36" id="custom_cords_36" placeholder="Waypoint 36">
          <input class="hidden" name="custom_cords_37" id="custom_cords_37" placeholder="Waypoint 37">
          <input class="hidden" name="custom_cords_38" id="custom_cords_38" placeholder="Waypoint 38">
          <input class="hidden" name="custom_cords_39" id="custom_cords_39" placeholder="Waypoint 39">
          <input class="hidden" name="custom_cords_40" id="custom_cords_40" placeholder="Waypoint 40">
        </div>
        <div class="add-new-waypoint-route">
          <button id="custom_cords_11_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint11()">New waypoint</button>
          <button class="hidden" id="custom_cords_12_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint12()">New waypoint</button>
          <button class="hidden" id="custom_cords_13_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint13()">New waypoint</button>
          <button class="hidden" id="custom_cords_14_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint14()">New waypoint</button>
          <button class="hidden" id="custom_cords_15_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint15()">New waypoint</button>
          <button class="hidden" id="custom_cords_16_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint16()">New waypoint</button>
          <button class="hidden" id="custom_cords_17_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint17()">New waypoint</button>
          <button class="hidden" id="custom_cords_18_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint18()">New waypoint</button>
          <button class="hidden" id="custom_cords_19_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint19()">New waypoint</button>
          <button class="hidden" id="custom_cords_20_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint20()">New waypoint</button>
          <button class="hidden" id="custom_cords_21_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint21()">New waypoint</button>
          <button class="hidden" id="custom_cords_22_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint22()">New waypoint</button>
          <button class="hidden" id="custom_cords_23_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint23()">New waypoint</button>
          <button class="hidden" id="custom_cords_24_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint24()">New waypoint</button>
          <button class="hidden" id="custom_cords_25_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint25()">New waypoint</button>
          <button class="hidden" id="custom_cords_26_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint26()">New waypoint</button>
          <button class="hidden" id="custom_cords_27_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint27()">New waypoint</button>
          <button class="hidden" id="custom_cords_28_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint28()">New waypoint</button>
          <button class="hidden" id="custom_cords_29_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint29()">New waypoint</button>
          <button class="hidden" id="custom_cords_30_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint30()">New waypoint</button>
          <button class="hidden" id="custom_cords_31_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint31()">New waypoint</button>
          <button class="hidden" id="custom_cords_32_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint32()">New waypoint</button>
          <button class="hidden" id="custom_cords_33_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint33()">New waypoint</button>
          <button class="hidden" id="custom_cords_34_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint34()">New waypoint</button>
          <button class="hidden" id="custom_cords_35_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint35()">New waypoint</button>
          <button class="hidden" id="custom_cords_36_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint36()">New waypoint</button>
          <button class="hidden" id="custom_cords_37_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint37()">New waypoint</button>
          <button class="hidden" id="custom_cords_38_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint38()">New waypoint</button>
          <button class="hidden" id="custom_cords_39_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint39()">New waypoint</button>
          <button class="hidden" id="custom_cords_40_btn" type="button" style="width: 92%;" onclick="routeAddWaypoint40()">New waypoint</button>
        </div>
        <div class="alert-danger" id="makeRouteError" style="display: none; margin-top: 20px;">You need to draw a route, or enter your own coordinates in order to save</div>
        <button type="button" onclick="validateStepOne()">Save</button>
      </div>

      <!-- Step 2 -->
      <div class="step two" onclick="stepTwoOpen()">
        <h1>Add sensors</h1>
      </div>
      <div class="add-sensors active" id="addSensors">
        <div onclick="stepTwoClose()" class="close"><i class="fa-solid fa-x"></i></div>
        <h1>Add sensors</h1>
        <p class="paragraph">Choose what sensors you want, and how long to use them for<br><br>One waypoint is one blue dot on the map<br>The default waypoints to configure is 10. If you have more than 10 waypoints, click on New waypoint at the bottom</p>
        <br>
        <!-- Available sensors -->
        <div class="availble-sensors">
          <p class="headingp">Sensors available</p>
          
          <hr style="border-color: rgba(250,250,250,0.45);">
          <div class="sensor">
            <p class="name">Sensor 1</p>
            <p class="price">20 000kr</p>
          </div>
          <hr style="border-color: rgba(250,250,250,0.45);">

        </div>
        <br>
        <!-- Configure waypoints -->
        <div class="configure-waypoint">

          <label for="sensor1">Configure waypoint 1</label>
          <br>
          <select name="waypoint_1_sensor" id="waypoint_1_sensor">
            <option value="Sensor 1">Sensor 1</option>
          </select>
          <!-- <input onclick="chooseSensorDrop()" type="text" name="waypoint_1_sensor" id="waypoint_1_sensor" placeholder="Choose sensors" class="sensor-input" readonly>

          <div id="chooseSensor">
            <div onclick="chooseSensor1()" class="sensor-drop" id="sensor1">Sensor 1</div>
          </div> -->
          <br>
          <br>
          <input type="text" name="waypoint_1_sensor_depth" id="waypoint_1_sensor_depth" placeholder="Configure the depth of the sensors in meters" class="sensor-input">
          <br>
          <br>
          <textarea name="waypoint_1_sensor_message" id="waypoint_1_sensor_message" cols="30" rows="10" placeholder="Is there anything else we should know?" class="sensor-input"></textarea>
          <br>
          <br>

          <label for="sensor1">Configure waypoint 2</label>
          <br>
          <input onclick="chooseSensorDrop()" type="text" name="waypoint_2_sensor" id="waypoint_2_sensor" placeholder="Choose sensors" class="sensor-input" readonly>
          <div id="chooseSensor">
            <div onclick="chooseSensor1()" class="sensor-drop" id="sensor1">Sensor 1</div>
          </div>
          <br>
          <br>
          <input type="text" name="waypoint_2_sensor_depth" id="waypoint_2_sensor_depth" placeholder="Configure the depth of the sensors in meters" class="sensor-input">
          <br>
          <br>
          <textarea name="waypoint_2_sensor_message" id="waypoint_2_sensor_message" cols="30" rows="10" placeholder="Is there anything else we should know?" class="sensor-input"></textarea>
          <br>
          <br>

          <label for="sensor1">Configure waypoint 3</label>
          <br>
          <input onclick="chooseSensorDrop()" type="text" name="waypoint_3_sensor" id="waypoint_3_sensor" placeholder="Choose sensors" class="sensor-input" readonly>
          <div id="chooseSensor">
            <div onclick="chooseSensor1()" class="sensor-drop" id="sensor1">Sensor 1</div>
          </div>
          <br>
          <br>
          <input type="text" name="waypoint_3_sensor_depth" id="waypoint_3_sensor_depth" placeholder="Configure the depth of the sensors in meters" class="sensor-input">
          <br>
          <br>
          <textarea name="waypoint_3_sensor_message" id="waypoint_3_sensor_message" cols="30" rows="10" placeholder="Is there anything else we should know?" class="sensor-input"></textarea>
          <br>
          <br>

          <label for="sensor1">Configure waypoint 4</label>
          <br>
          <input onclick="chooseSensorDrop()" type="text" name="waypoint_4_sensor" id="waypoint_4_sensor" placeholder="Choose sensors" class="sensor-input" readonly>
          <div id="chooseSensor">
            <div onclick="chooseSensor1()" class="sensor-drop" id="sensor1">Sensor 1</div>
          </div>
          <br>
          <br>
          <input type="text" name="waypoint_4_sensor_depth" id="waypoint_4_sensor_depth" placeholder="Configure the depth of the sensors in meters" class="sensor-input">
          <br>
          <br>
          <textarea name="waypoint_4_sensor_message" id="waypoint_4_sensor_message" cols="30" rows="10" placeholder="Is there anything else we should know?" class="sensor-input"></textarea>
          <br>
          <br>

          <label for="sensor1">Configure waypoint 5</label>
          <br>
          <input onclick="chooseSensorDrop()" type="text" name="waypoint_5_sensor" id="waypoint_5_sensor" placeholder="Choose sensors" class="sensor-input" readonly>
          <div id="chooseSensor">
            <div onclick="chooseSensor1()" class="sensor-drop" id="sensor1">Sensor 1</div>
          </div>
          <br>
          <br>
          <input type="text" name="waypoint_5_sensor_depth" id="waypoint_5_sensor_depth" placeholder="Configure the depth of the sensors in meters" class="sensor-input">
          <br>
          <br>
          <textarea name="waypoint_5_sensor_message" id="waypoint_5_sensor_message" cols="30" rows="10" placeholder="Is there anything else we should know?" class="sensor-input"></textarea>
          <br>
          <br>

          <label for="sensor1">Configure waypoint 6</label>
          <br>
          <input onclick="chooseSensorDrop()" type="text" name="waypoint_6_sensor" id="waypoint_6_sensor" placeholder="Choose sensors" class="sensor-input" readonly>
          <div id="chooseSensor">
            <div onclick="chooseSensor1()" class="sensor-drop" id="sensor1">Sensor 1</div>
          </div>
          <br>
          <br>
          <input type="text" name="waypoint_6_sensor_depth" id="waypoint_6_sensor_depth" placeholder="Configure the depth of the sensors in meters" class="sensor-input">
          <br>
          <br>
          <textarea name="waypoint_6_sensor_message" id="waypoint_6_sensor_message" cols="30" rows="10" placeholder="Is there anything else we should know?" class="sensor-input"></textarea>
          <br>
          <br>

          <label for="sensor1">Configure waypoint 7</label>
          <br>
          <input onclick="chooseSensorDrop()" type="text" name="waypoint_7_sensor" id="waypoint_7_sensor" placeholder="Choose sensors" class="sensor-input" readonly>
          <div id="chooseSensor">
            <div onclick="chooseSensor1()" class="sensor-drop" id="sensor1">Sensor 1</div>
          </div>
          <br>
          <br>
          <input type="text" name="waypoint_7_sensor_depth" id="waypoint_7_sensor_depth" placeholder="Configure the depth of the sensors in meters" class="sensor-input">
          <br>
          <br>
          <textarea name="waypoint_7_sensor_message" id="waypoint_7_sensor_message" cols="30" rows="10" placeholder="Is there anything else we should know?" class="sensor-input"></textarea>
          <br>
          <br>

          <label for="sensor1">Configure waypoint 8</label>
          <br>
          <input onclick="chooseSensorDrop()" type="text" name="waypoint_8_sensor" id="waypoint_8_sensor" placeholder="Choose sensors" class="sensor-input" readonly>
          <div id="chooseSensor">
            <div onclick="chooseSensor1()" class="sensor-drop" id="sensor1">Sensor 1</div>
          </div>
          <br>
          <br>
          <input type="text" name="waypoint_8_sensor_depth" id="waypoint_8_sensor_depth" placeholder="Configure the depth of the sensors in meters" class="sensor-input">
          <br>
          <br>
          <textarea name="waypoint_8_sensor_message" id="waypoint_8_sensor_message" cols="30" rows="10" placeholder="Is there anything else we should know?" class="sensor-input"></textarea>
          <br>
          <br>

          <label for="sensor1">Configure waypoint 9</label>
          <br>
          <input onclick="chooseSensorDrop()" type="text" name="waypoint_9_sensor" id="waypoint_9_sensor" placeholder="Choose sensors" class="sensor-input" readonly>
          <div id="chooseSensor">
            <div onclick="chooseSensor1()" class="sensor-drop" id="sensor1">Sensor 1</div>
          </div>
          <br>
          <br>
          <input type="text" name="waypoint_9_sensor_depth" id="waypoint_9_sensor_depth" placeholder="Configure the depth of the sensors in meters" class="sensor-input">
          <br>
          <br>
          <textarea name="waypoint_9_sensor_message" id="waypoint_9_sensor_message" cols="30" rows="10" placeholder="Is there anything else we should know?" class="sensor-input"></textarea>
          <br>
          <br>

          <label for="sensor1">Configure waypoint 10</label>
          <br>
          <input onclick="chooseSensorDrop()" type="text" name="waypoint_10_sensor" id="waypoint_10_sensor" placeholder="Choose sensors" class="sensor-input" readonly>
          <div id="chooseSensor">
            <div onclick="chooseSensor1()" class="sensor-drop" id="sensor1">Sensor 1</div>
          </div>
          <br>
          <br>
          <input type="text" name="waypoint_10_sensor_depth" id="waypoint_10_sensor_depth" placeholder="Configure the depth of the sensors in meters" class="sensor-input">
          <br>
          <br>
          <textarea name="waypoint_10_sensor_message" id="waypoint_10_sensor_message" cols="30" rows="10" placeholder="Is there anything else we should know?" class="sensor-input"></textarea>
          <br>
          <br>
          
          
        </div>
        <div class="alert-danger" id="addSensorError" style="display: none; margin-top: 18px;">You need to configure atleast one sensor before you can save</div>
        <button type="button" onclick="validateStepTwo()">Save</button>
      </div>

      <!-- Step 3 -->
      <div class="step three" onclick="stepThreeOpen()">
        <h1>Set time/date</h1>
      </div>
      <div class="set-time" id="setTime">
        <div onclick="stepThreeClose()" class="close"><i class="fa-solid fa-x"></i></div>
        <h1>Set time/date</h1>
        <p class="paragraph">Set the time and date when the survey will take place</p>
        <br>
        <div class="choose-interval-or-onetime">
          <a onclick="chooseTimeOnetime()" class="choose-interal-or-time-btn1 active">One time</a>
          <a onclick="chooseTimeInterval()" class="choose-interal-or-time-btn2">Interval</a>
        </div>

        <input type="checkbox" id="onetime" name="onetime" checked style="display: none;">
        <input type="checkbox" id="interval" name="interval" style="display: none;">

        <br>
        <div id="interval_div">
          interval her
        </div>
        <div id="onetime_div">
          <input type="datetime-local" id="onetime_time" name="onetime_time">
        </div>
        <br>
        <br>
        <div class="alert-danger" id="setTimeError" style="display: none; margin-top: 18px;">You need to choose a date and time in order to save</div>
        <button type="button" onclick="validateStepThree()">Save</button>
      </div>

      <!-- Step 4 -->
      <div class="step four" onclick="stepFourOpen()">
        <h1>Your info</h1>
      </div>
      <div class="user-info" id="userInfo">
        <div onclick="stepFourClose()" class="close"><i class="fa-solid fa-x"></i></div>
        <h1>Your info</h1>
        <input type="text" name="user_html" id="user_html" style="display: none;" value="{{request.user.username}}" placeholder="Your username">
        <br>
        <input class="user-info-input" type="text" name="name" id="name" placeholder="Your full name" value="{{request.user.get_full_name}}">
        <br>
        <br>
        <input class="user-info-input" type="email" name="email" id="email" placeholder="Your email" value="{{request.user.email}}">
        <br>
        <br>
        <textarea class="user-info-input-m" name="message" id="message" cols="30" rows="10" placeholder="Reason or goal for this survey"></textarea>
        <br>
        <br>
        <div class="alert-danger" id="userInfoError" style="display: none;">You need to fill out this form before sending the survey</div>
        <button type="button" onclick="validateStepFour()">Save</button>
      </div>

      <!-- Step 5 -->
      <div class="step five" onclick="stepFiveOpen()">
        <h1>Summary</h1>
      </div>
      <div class="summary" id="surveySummary">
        <div onclick="stepFiveClose()" class="close"><i class="fa-solid fa-x"></i></div>
        <h1>Summary</h1>
        <p class="paragraph">Take a look at your survey, and make some changes if you need before sending the survey</p>
        <br>

        <button type="submit">Send survey</button>
      </div>
  </form>
</div>


<script>

  // Add your Mapbox access token
  mapboxgl.accessToken = '{{mapbox_access_token}}';
  const map = new mapboxgl.Map({
    container: 'map', // Specify the container ID
    style: 'mapbox://styles/mapbox/outdoors-v12',
    center: [5.359434, 60.389809], // Specify the starting position
    zoom: 9, // Specify the starting zoom
  });
  

    const draw = new MapboxDraw({


      // Instead of showing all the draw tools, show only the line string and delete tools.
      displayControlsDefault: false,
      controls: {
        line_string: true,
        trash: true
      },
      // Set the draw mode to draw LineStrings by default.
      defaultMode: 'draw_line_string',
      styles: [


      // Set the line style for the user-input coordinates.
      {
        id: 'gl-draw-line',
        type: 'line',
        filter: ['all', ['==', '$type', 'LineString'], ['!=', 'mode', 'static']],
        layout: {
          'line-cap': 'round',
          'line-join': 'round'
        },
        paint: {
          'line-color': '#438EE4',
          'line-dasharray': [0.2, 2],
          'line-width': 4,
          'line-opacity': 0.7
        }
      },


      // Style the vertex point halos.
      {
        id: 'gl-draw-polygon-and-line-vertex-halo-active',
        type: 'circle',
        filter: [
          'all',
          ['==', 'meta', 'vertex'],
          ['==', '$type', 'Point'],
          ['!=', 'mode', 'static']
        ],
        paint: {
          'circle-radius': 12,
          'circle-color': '#FFF'
        }
      },


      // Style the vertex points.
      {
        id: 'gl-draw-polygon-and-line-vertex-active',
        type: 'circle',
        filter: [
          'all',
          ['==', 'meta', 'vertex'],
          ['==', '$type', 'Point'],
          ['!=', 'mode', 'static']
        ],
        paint: {
          'circle-radius': 8,
          'circle-color': '#438EE4'
        }
      }
    ]
  });


  // Add the draw tool to the map.
  map.addControl(draw);


  // Use the coordinates you drew to make the Map Matching API request
  function updateRoute() {
    // Set the profile
    const profile = 'driving';
    // Get the coordinates that were drawn on the map
    const data = draw.getAll();
    const lastFeature = data.features.length - 1;
    const coords = data.features[lastFeature].geometry.coordinates;
    // Format the coordinates
    const newCoords = coords.join(';');
    // Set the radius for each coordinate pair to 25 meters
    const radius = coords.map(() => 25);
    getMatch(newCoords, radius, profile);
    const addSensors = document.getElementById('addSensors');
    addSensors.classList.remove('active');
    const setTime = document.getElementById('setTime');
    setTime.classList.remove('active');
    const userInfo = document.getElementById('userInfo');
    userInfo.classList.remove('active');
    const surveySummary = document.getElementById('surveySummary');
    surveySummary.classList.remove('active');

    const makeRoute = document.getElementById('makeRoute');
    makeRoute.classList.add('active');

  }


  map.on('draw.create', updateRoute);
  map.on('draw.update', updateRoute);



  // Draw the Map Matching route as a new layer on the map
  function addRoute(coords) {
    // If a route is already loaded, remove it
    if (map.getSource('route')) {
      map.removeLayer('route');
      map.removeSource('route');
    } else {
      // Add a new layer to the map
      const customCords = document.getElementById('customCords');
      customCords.value = "";
      const addSensors = document.getElementById('addSensors');
      addSensors.classList.remove('active');
      const setTime = document.getElementById('setTime');
      setTime.classList.remove('active');
      const userInfo = document.getElementById('userInfo');
      userInfo.classList.remove('active');
      const surveySummary = document.getElementById('surveySummary');
      surveySummary.classList.remove('active');
      const makeRoute = document.getElementById('makeRoute');
      makeRoute.classList.add('active');
      map.addLayer({
        id: 'route',
        type: 'line',
        source: {
          type: 'geojson',
          data: {
            type: 'Feature',
            properties: {},
            geometry: coords
          }
        },
        layout: {
          'line-join': 'round',
          'line-cap': 'round'
        },
        paint: {
          'line-color': '#03AA46',
          'line-width': 8,
          'line-opacity': 0.8
        }
      });
    }
  }


  // Make a Map Matching request
  async function getMatch(coordinates, radius, profile) {
    // Separate the radiuses with semicolons
    const radiuses = radius.join(';');
    // Create the query
    const query = await fetch(
      `https://api.mapbox.com/matching/v5/mapbox/${profile}/${coordinates}?geometries=geojson&radiuses=${radiuses}&steps=true&access_token=${mapboxgl.accessToken}`,
      { method: 'GET' }
    );
    const response = await query.json();
    // Get the coordinates from the response
    const coords = coordinates;
    console.log(coords);
    // Draw the route on the map
    addRoute(coords);


    const routeCords = document.getElementById('routeCords');
    routeCords.value = coords;
  }


  // If the user clicks the delete draw button, remove the layer if it exists
  function removeRoute() {
    if (!map.getSource('route')) return;
    map.removeLayer('route');
    map.removeSource('route');

    const routeCords = document.getElementById('routeCords');
    routeCords.value = "";

    const customCords = document.getElementById('customCords');
    customCords.style.pointerEvents = 'visible';
  }


  map.on('draw.delete', removeRoute);
</script>

{% endblock %}
 